# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environment (Sangat Penting!) ---
# Jangan upload venv, karena berisi ribuan file library
venv/
env/
.env/

# --- File Konfigurasi Sensitif ---
# Jangan upload .env karena berisi secret key, password database, dll
.env

# --- Dataset & Model (Opsional) ---
# Jika folder 'data' atau 'runs' berukuran besar (ratusan MB/GB),
# jangan upload. Upload cukup kode program saja.
data/
runs/
uploads/
*.pt
!app/models/best.pt
# --- IDE / Editor ---
.vscode/
.idea/

# --- OS ---
.DS_Store